<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Details</title>
</head>
<body>
<h1>Welcome, <span th:text="${account.accountName}">Account name</span>, you're logged in as <span th:text="${account.accountType.toString()}">role</span>!</h1>

<div>
    <h2>What would you like to do next?</h2>
    <!-- Only AADMIN and PROJECT_MANAGER can start and edit projects not TEAM_MEMBER -->
    <a th:if="${canCreateProject}" href="/projects/create">Start a new project</a>
<div>
    <h2>See your projects</h2>
    <a href="/projects/list">View projects</a>
</div>

<a href="/logout">Logout</a>
</body>
</html>