<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new account</title>
</head>
<body>
<h1>Add new account</h1>
<!-- Form to add new account to system ... -->
<form action="/adm/accounts/add" method="POST">
  <div>
    <label for="accountName">Account holder's username:</label>
    <input type="text" id="accountName" name="accountName" required>
  </div>

  <div>
    <label for="accountPassword">Password: </label>
    <input type="password" id="accountPassword" name="accountPassword" required></input>
  </div>

  <div class="form-group">
    <label for="accountType">Account type: </label>
    <select name="accountType" id="accountType" required>
      <option th:each="type : ${accountTypes}"
              th:value="${type.name()}"
              th:text="${type.getAccountTypeName()}"
      </option>
    </select>
  </div>

  <div>
    <button type="submit">Add new account</button>
    <a href="/"><button type="button">Back</button></a>
  </div>
</form>

<div>
  <ul>
    <li><a href="/adm/accounts/list">All accounts</a></li>
    <li><a href="/">Main</a></li>
    <li><a href="/projects/list">All projects</a></li>
    <li><a href="/logout">Log out</a></li>
  </ul>
</div>

</body>
</html>