<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesHome.css">
    <title>Add new account</title>
</head>
<body>
<header>
  <a href="/adm/accounts/list" class="back-link">Go back</a>
  <h1>EasyScope - time2track ...</h1>
  <a href="/logout" class="logout-btn">Logout</a>
</header>
<div class="grid-item">

  <h1>Add new account</h1>
  <!-- Form to add new account to system ... -->
  <form action="/adm/accounts/add" method="POST">
    <div>
      <label for="accountName">Account holder's username:</label>
      <input type="text" id="accountName" name="accountName" required>
    </div>

    <div>
      <label for="accountPassword">Password: </label>
      <input type="password" id="accountPassword" name="accountPassword" required></input>
    </div>

    <div class="form-group">
      <label for="accountType">Account type: </label>
      <select name="accountType" id="accountType" required>
        <option th:each="type : ${accountTypes}"
                th:value="${type.name()}"
                th:text="${type.getAccountTypeName()}"
        </option>
      </select>
    </div>

    <div>
      <button type="submit">Save new account</button>
    </div>
  </form>

</div>

<footer>
  <p>EasyScope – Project Calculation Tool – Contact</p>
  <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>

</body>
</html>