<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>See all non-admin Accounts</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

<header>
  <a href="/" class="back-link">Go back</a>
  <h1>EasyScope - time2track ...</h1>
  <a href="/logout" class="logout-btn">Logout</a>
</header>

<div class="grid-item">
  <h1>See all accounts</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Account type</th>
      <th>Actions</th>
    </tr>
    <tr th:each="otherAccount : ${otherAccounts}">
      <td><span th:text="${otherAccount.getAccountName()}"></span></td>
      <td><span th:text="${otherAccount.accountType.getAccountTypeName()}"></span></td>
      <td>
        <form th:action="@{/adm/accounts/edit/{id}(id=${otherAccount.accountID})}" method="get">
        <button type="submit" class="button">Edit Account</button>
      </form>
      </td>
    </tr>
  </table>
</div>
<footer>
  <p>EasyScope – Project Calculation Tool – Contact</p>
  <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>

</body>

</html>