<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Accounts - Admin</title>
  <link rel="stylesheet" href="/style.css">

</head>

<body>


<h1>See all accounts</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Account type</th>
    <th>Actions</th>
  </tr>
  <tr th:each="otherAccount : ${otherAccounts}">
    <td><span th:text="${otherAccount.getAccountName()}"></span></td>
    <td><span th:text="${otherAccount.accountType.getAccountTypeName()}"></span></td>
    <td>
      <form th:action="@{/adm/accounts/edit/{id}(id=${otherAccount.accountID})}" method="get">
      <button type="submit">Edit Account</button>
    </form>
    </td>
  </tr>
</table>

<!-- Admin Section (for logged-in admin users) -->
<div class="grid-item" th:if="${account != null and account.accountType != null and account.accountType.getAccountTypeName() == 'admin'}">
  <h2>Admin menu</h2>
  <ul>
    <li><a href="/adm/accounts/add">Add new account</a></li>
    <li><a href="/account/edit">Edit your account details</a></li>
    <li><a href="/logout">Log out</a></li>
  </ul>
</div>

</body>

</html>