<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Subproject</title>
  <link rel="stylesheet" href="/stylesCreateUpdate.css">
</head>
<body>

<header>
  <a th:href="@{/projects/subprojects/{projectID}(projectID=${projectID})}" class="back-link">Back to Subprojects</a>
  <h1>EasyScope - time2track ...</h1>
  <a href="/logout" class="logout-btn">Logout</a>
</header>

<h1>Create a New Subproject for <span th:text="${project.projectName}">Project name</span></h1>

<form th:action="@{/projects/subprojects/create}" method="post">
  <input type="hidden" name="projectID" th:value="${project.projectID}" />

  <label for="name">Subproject name:</label>
  <input type="text" id="name" name="subProjectName" required maxlength="25"/>

  <label for="description">Description:</label>
  <textarea id="description" name="subProjectDescription" required></textarea>

  <label for="deadline">Deadline:</label>
  <input type="date" id="deadline" name="subProjectDeadline" required/>

  <button type="submit">Create subproject</button>
</form>


<footer>
  <p>EasyScope – Project Calculation Tool – Contact</p>
  <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>

</body>
</html>