<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Sub Project</title>
</head>
<body>
<h1>Create a new Sub Project for <span th:text="${project.projectName}">Project Name</span></h1>

<form action="/projects/subprojects/create" method="post">
  <input type="hidden" name="projectID" th:value="${project.projectID}" />

  <label for="name">Sub Project Name:</label>
  <input type="text" id="name" name="subProjectName" />

  <label for="description">Description:</label>
  <textarea id="description" name="subProjectDescription"></textarea>

  <label for="deadline">Deadline:</label>
  <input type="date" id="deadline" name="subProjectDeadline" />


  <button type="submit">Create Sub Project</button>
</form>

<a href="/projects/list">Back to sub projects</a>
</body>
</html>