<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>EasyScope - get it done right the first time!</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>EasyScope - time2track ...</h1>
</header>

<div class="container">
    <div class=" grid-item">
        <!-- Welcome Section (for logged-in users) -->
        <div th:if="${account != null}">
            <header>
                <h1>EasyScope - time2track ...</h1>
                <a href="/logout" class="logout-btn">Logout</a>
            </header>
            <h1>Welcome, <span th:text="${account.accountName}">!</span></h1>
            <p>You're logged in as <span th:if="${account != null}" th:text="${account.accountType.getAccountTypeName()}">...</span></p>
        </div>

        <!-- Login Form Section (for non-logged-in users) -->
        <div class="login-section" th:if="${account == null}">
            <div class="login-form">
                <p><b>Don't be a stranger.</b> </p>
                <p>If you don't have an account please contact an administrator.</p>
                <form action="#" th:action="@{/login}" method="post">
                    <div>
                        <label for="accountName">Account Name:</label>
                        <input type="text" id="accountName" name="accountName" required />
                    </div>
                    <div>
                        <label for="accountPassword">Password:</label>
                        <input type="password" id="accountPassword" name="accountPassword" required />
                    </div>
                    <div>
                        <button type="submit">Login</button>
                    </div>
                    <div th:if="${errorMessage}" class="error-message">
                        <p th:text="${errorMessage}"></p>
                    </div>
                </form>
            </div>
        </div>

        <!-- Admin Section (for logged-in admin users) -->
        <div th:if="${account != null and account.accountType != null and account.accountType.getAccountTypeName() == 'admin'}">
            <header>
                <h1>EasyScope - time2track ...</h1>
                <a href="/logout" class="logout-btn">Logout</a>
            </header>
            <h2>Admin menu</h2>
            <ul>
                <li><a href="/adm/accounts/list" class="button">See all non admin accounts</a></li>
                <li><a href="/adm/accounts/add" class="button">Add new account</a></li>
                <li><a href="/account/edit" class="button">Edit your account details</a></li>
            </ul>
        </div>

        <!-- Section for project managers -->
        <div th:if="${account != null and account.accountType != null and account.accountType.getAccountTypeName() == 'project manager'}">
            <header>
                <h1>EasyScope - time2track ...</h1>
                <a href="/logout" class="logout-btn">Logout</a>
            </header>
            <h2>Project manager menu</h2>
            <ul>
                <li><a href="/projects/list" class="button">See all your projects</a></li>
                <li><a href="/account/edit" class="button">Edit your account details</a></li>
            </ul>
        </div>

        <!-- Section for team members -->
        <div th:if="${account != null and account.accountType != null and account.accountType.getAccountTypeName() == 'team member'}">
            <header>
                <h1>EasyScope - time2track ...</h1>
                <a href="/logout" class="logout-btn">Logout</a>
            </header>
            <h2>Team member menu</h2>
            <ul>
                <li><a th:href="@{/projects/subprojects/tasks/assigned(accountID=${account.accountID})}" class="button">See all your open tasks</a></li>
                <li><a th:href="@{/projects/subprojects/tasks/finished(accountID=${account.accountID})}" class="button">See all your finished tasks</a></li>
                <li><a href="/account/edit" class="button">Edit your account details</a></li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <p>EasyScope – Project Calculation Tool – Contact</p>
    <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>

</body>
</html>