<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<!-- Login form -->
<form action="#" th:action="@{/login}" method="post">
    <div>
        <label for="accountName">Account Name:</label>
        <input type="text" id="accountName" name="accountName" required />
    </div>
    <div>
        <label for="accountPassword">Password:</label>
        <input type="password" id="accountPassword" name="accountPassword" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${errorMessage}">
        <p style="color: red;" th:text="${errorMessage}"></p>
    </div>
</form>
</body>
</html>
