<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
</head>
<body>

<h1>These are your clients!</h1>

<table>
    <thead>
    <tr>
        <th>Name of the project/client</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.projectName}">Project name</td>
        <td th:text="${project.projectDescription}">Project description</td>
        <td th:text="${project.isActive() ? 'Active' : 'Inactive'}">Status</td>
        <td>
            <a th:href="@{/projects/update/{projectID}(projectID=${project.projectID})}">Update</a>
            <a th:href="@{/projects/subprojects/{projectID}(projectID=${project.projectID})}">View Sub Projects</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/account">Back to account</a>

</body>
</html>