<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients/Projects</title>
</head>
<body>

<h1>These are your clients/projects!</h1>

<h2>Active</h2>
<table border="1">
    <tr>
        <th>Project | Client</th>
        <th>Description</th>
        <th>Progress Status</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr
            th:each="project : ${projects}" th:if="${!project.finished}">
        <td th:text="${project.projectName}">Client</td>
        <td th:text="${project.projectDescription}">Project description</td>
        <td th:if="${!cs.isAnyTasksInProjectExceedingDeadline(project)}">You're on track with client / project</td>
        <td th:if="${cs.isAnyTasksInProjectExceedingDeadline(project)}">Estimated hours left exceeds a deadline!</td>
        <td>Active</td>
        <td>
            <a th:href="@{/projects/update/{projectID}(projectID=${project.projectID})}">Update</a>
            <a th:href="@{/projects/subprojects/{projectID}(projectID=${project.projectID})}">Subprojects</a>
        </td>

    </tr>
    </tbody>
</table>

<h2>Completed</h2>
<table border="1">
    <thead>
    <tr>
        <th>Client</th>
        <th>Project description</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}" th:if="${project.finished}"> <!-- Finished subprojects -->
        <td th:text="${project.projectName}">Client</td>
        <td th:text="${project.projectDescription}">Project description</td>
        <td>Finished</td>
        <td>
            <a th:href="@{/projects/update/{projectID}(projectID=${project.projectID})}">Update</a>
            <a th:href="@{/projects/subprojects/{projectID}(projectID=${project.projectID})}">Subprojects</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/">Back to main</a>

</body>
</html>