<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subprojects</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
  <a href="/projects/list" class="back-link">Back to Projects</a>
  <h1>EasyScope - time2track ...</h1>
  <a href="/logout" class="logout-btn">Logout</a>
</header>

<main>
  <h1>Subprojects for: <span th:text="${project.projectName}"></span></h1>

    <h2>Active</h2>
    <table class="subprojectList-active-table">
      <thead>
      <tr>
        <th>Subproject</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Deadline Notice</th>
        <th>Team Members</th>
        <th>Estimated Hours Left</th>
        <th>Total Hours Realized</th>
        <th>Actions</th>
        <th>View</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="subProject : ${subProjects}" th:if="${!subProject.finished}">
        <td th:text="${subProject.subProjectName}">Name</td>
        <td th:text="${subProject.subProjectDescription}">Subproject description</td>
        <td th:text="${#temporals.format(subProject.subProjectDeadline, 'dd/MM/yyyy')}"></td>
        <td th:text="${cs.giveNoticeAboutDeadline(subProject)}"></td>
        <td th:text="${cs.numbersOfTeamMembersOnSubProject(subProject)}"></td>
        <td th:text="${cs.getTotalHoursForASubProject(subProject)}"></td>
        <td th:text="${cs.getTotalHoursRealizedForASubProject(subProject)}"></td>
        <td>
          <a th:href="@{/projects/subprojects/update/{subProjectID}(subProjectID=${subProject.subProjectID})}">Update</a>
        </td>
        <td>
          <a th:href="@{/projects/subprojects/tasks/{projectID}/{subProjectID}(projectID=${project.projectID}, subProjectID=${subProject.subProjectID})}">Tasks</a>
        </td>
      </tr>
      </tbody>
    </table>

    <h2>Completed</h2>
    <table class="subprojectList-completed-table">
      <thead>
      <tr>
        <th>Subproject</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Estimated Hours Left</th>
        <th>Total Hours Realized</th>
        <th>Actions</th>
        <th>View</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="subProject : ${subProjects}" th:if="${subProject.finished}">
        <td th:text="${subProject.subProjectName}">Name</td>
        <td th:text="${subProject.subProjectDescription}">Subproject description</td>
        <td th:text="${#temporals.format(subProject.subProjectDeadline, 'dd/MM/yyyy')}"></td>
        <td th:text="${subProject.getTotalEstimatedHours()}"></td>
        <td th:text="${cs.getTotalHoursRealizedForASubProject(subProject)}"></td>
        <td>
          <a th:href="@{/projects/subprojects/update/{subProjectID}(subProjectID=${subProject.subProjectID})}">Update
          </a>
        </td>
        <td>
          <a th:href="@{/projects/subprojects/tasks/{projectID}/{subProjectID}(projectID=${project.projectID}, subProjectID=${subProject.subProjectID})}">Tasks
          </a>
        </td>
      </tr>
      </tbody>
    </table>

<form th:action="@{/projects/subprojects/create/{projectID}(projectID=${project.projectID})}" method="get">
  <input type="hidden" name="projectID" th:value="${projectID}" />
  <button type="submit" class="button">Add a New Subproject</button>
</form>

</main>

<footer>
  <p>EasyScope – Project Calculation Tool – Contact</p>
  <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>

</body>
</html>