<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subprojects</title>
</head>
<body>

<h1>These are your subprojects!</h1>

<h2>Active</h2>
<table border="1">
  <tr>
    <th>Subproject</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr
          th:each="subProject : ${subProjects}" th:if="${!subProject.finished}">
    <td th:text="${subProject.subProjectName}">Name</td>
    <td th:text="${subProject.subProjectDescription}">Subproject description</td>
    <td th:text="${#temporals.format(subProject.subProjectDeadline, 'dd/MM/yyyy')}"></td>


    <td>Active</td>
    <td>
      <a th:href="@{/projects/subprojects/update/{subProjectID}(subProjectID=${subProject.subProjectID})}">
        <button>Update</button>
      </a>
      <a th:href="@{/projects/subprojects/tasks/{projectID}/{subProjectID}(projectID=${project.projectID}, subProjectID=${subProject.subProjectID})}">
        <button>Tasks</button>
      </a>
    </td>

  </tr>
  </tbody>
</table>

<h2>Completed</h2>
<table border="1">
  <tr>
    <th>Subproject</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="subProject : ${subProjects}" th:if="${subProject.finished}"> <!-- Finished subprojects -->
    <td th:text="${subProject.subProjectName}">Name</td>
    <td th:text="${subProject.subProjectDescription}">Subproject description</td>
    <td th:text="${#temporals.format(subProject.subProjectDeadline, 'dd/MM/yyyy')}"></td>

    <td>Finished</td>
    <td>
      <a th:href="@{/projects/subprojects/update/{subProjectID}(subProjectID=${subProject.subProjectID})}">
        <button>Update</button>
      </a>
      <a th:href="@{/projects/subprojects/tasks/{projectID}/{subProjectID}(projectID=${project.projectID}, subProjectID=${subProject.subProjectID})}">
        <button>Tasks</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>

<br>
<a th:href="@{/projects/subprojects/create/{projectID}(projectID=${project.projectID})}">
  <button>Add Subproject</button>
</a>

<br>

<a href="/projects/list">Back to projects</a>

</body>
</html>