<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subprojects</title>
</head>
<body>
<h1><span th:text="${project.projectName}"></span></h1>

<table>
  <thead>
  <tr>
    <th>Subproject</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="subProject : ${subProjects}">
    <td th:text="${subProject.subProjectName}"></td>
    <td th:text="${subProject.subProjectDescription}"></td>
    <td th:text="${#temporals.format(subProject.subProjectDeadline, 'dd/MM/yyyy')}"></td>
    <td>
      <a th:href="@{/projects/subprojects/update/{subProjectID}(subProjectID=${subProject.subProjectID})}">
        <button>Update</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>

<br>
<a th:href="@{/projects/subprojects/create/{projectID}(projectID=${project.projectID})}">
  <button>Add Subproject</button>
</a>

<br>
<br>
<a href="/projects/list">Back to client list</a>
</body>
</html>