<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
  <a th:href="@{/projects/subprojects/{projectID}(projectID=${projectID})}" class="back-link">Back to Subprojects</a>
  <h1>EasyScope - time2track ...</h1>
  <a href="/logout" class="logout-btn">Logout</a>
</header>

<main>

<h1>Tasks for <span th:text="${projectName}"></span> in the subproject <span th:text="${subProject.subProjectName}"></span></h1>


<h2>Active Tasks</h2>
<table class="taskList-active-table">
  <thead>
  <tr>
    <th>Task</th>
    <th>Description</th>
    <th>Status</th>
    <th>Assigned to</th>
    <th>Estimated Hours</th>
    <th>Actions</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over tasks and show only active tasks -->
  <tr th:each="task : ${tasks}" th:if="${!task.taskIsFinished}">
    <td th:text="${task.taskName}">Task</td>
    <td th:text="${task.taskDescription}">Task description</td>
    <td>Active</td>
    <td th:text="${task.assignedTo != null ? task.assignedTo.accountName : 'Not assigned'}">Assigned to</td>
    <td th:text="${task.estimatedHours != 0.0 ? task.estimatedHours : 'N/A'}">Estimated hours</td>
    <td>
      <a th:href="@{/projects/subprojects/tasks/update/{taskID}(taskID=${task.taskID})}">Update
      </a>
    </td>
      <td>
      <form th:action="@{/projects/subprojects/tasks/delete}" method="post">
        <input type="hidden" name="taskID" th:value="${task.taskID}" />
        <input type="hidden" name="projectID" th:value="${projectID}" />
        <input type="hidden" name="subProjectID" th:value="${subProjectID}" />
        <button type="submit" class="button">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>


<h2>Completed Tasks</h2>
<table class="taskList-completed-table">
  <thead>
  <tr>
    <th>Task</th>
    <th>Description</th>
    <th>Status</th>
    <th>Assigned to</th>
    <th>Estimated Hours</th>
    <th>Realized Hours</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over tasks and show only completed tasks -->
  <tr th:each="task : ${tasks}" th:if="${task.taskIsFinished}">
    <td th:text="${task.taskName}">Task</td>
    <td th:text="${task.taskDescription}">Description</td>
    <td>Finished</td>
    <td th:text="${task.assignedTo != null ? task.assignedTo.accountName : 'Not assigned'}">Assigned to</td>
    <td th:text="${task.estimatedHours != 0.0 ? task.estimatedHours: 'N/A'}">Estimated hours</td>
    <td th:text="${task.realizedHours != 0.0 ? task.realizedHours : 'N/A'}">Realized hours</td>
  </tr>
  </tbody>
</table>


<form th:action="@{/projects/subprojects/tasks/create/{projectID}/{subProjectID}(projectID=${projectID}, subProjectID=${subProject.subProjectID})}" method="get">
  <input type="hidden" name="accountID" th:value="${accountID}" />
  <button type="submit" class="button">Create Task</button>
</form>

</main>

<footer>
  <p>EasyScope – Project Calculation Tool – Contact</p>
  <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>

</body>
</html>