<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Project</title>
</head>
<body>

<h1>Update project</h1>

<form th:action="@{/projects/update}" method="post">
    <input type="hidden" name="projectID" th:value="${project.projectID}" /> <!-- This is hidden. -->

    <label for="projectName">Project Name:</label>
    <input type="text" id="projectName" name="projectName" th:value="${project.projectName}" required maxlength="25">

    <label for="projectDescription">Description:</label>
    <input type="text" id="projectDescription" name="projectDescription" th:value="${project.projectDescription}" required>

    <label for="isFinished">Finished:</label>
    <input type="checkbox" id="isFinished" name="isFinished" th:checked="${project.isFinished()}">

    <button type="submit">Update</button>
</form>

<a href="/projects/list">Back to the list of projects</a>

</body>
</html>
