<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Subproject</title>
    <link rel="stylesheet" href="/stylesCreateUpdate.css">
</head>
<body>

<header>
    <a th:href="@{/projects/subprojects/{projectID}(projectID=${subProject.projectID})}" class="back-link">Back to Tasks</a>
    <h1>EasyScope - time2track ...</h1>
    <a href="/logout" class="logout-btn">Logout</a>
</header>

<h1>Update Subproject</h1>

<form th:action="@{/projects/subprojects/update}" method="post">
    <input type="hidden" name="subProjectID" th:value="${subProject.subProjectID}" /> <!-- This is a hidden field-->

    <label for="subProjectName">Name of the Subproject:</label>
    <input type="text" id="subProjectName" name="subProjectName" th:value="${subProject.subProjectName}" required maxlength="25"/>

    <label for="subProjectDescription">Description:</label>
    <textarea id="subProjectDescription" name="subProjectDescription" required th:text="${subProject.subProjectDescription}"></textarea>

    <label for="subProjectDeadline">Deadline:</label>
    <input type="date" id="subProjectDeadline" name="subProjectDeadline" th:value="${subProject.subProjectDeadline}" required />

    <label for="isFinished">Finished?</label>
    <input type="checkbox" id="isFinished" name="isFinished" th:checked="${subProject.isFinished()}" />

    <button type="submit">Update Subproject</button>
</form>


<footer>
    <p>EasyScope – Project Calculation Tool – Contact</p>
    <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>

</body>
</html>