<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Project</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>

<header>
    <a href="/projects/list" class="back-link">Back to Projects</a>
    <h1>EasyScope - time2track ...</h1>
    <a href="/logout" class="logout-btn">Logout</a>
</header>

<div class="grid-container">
    <div class="grid-item">

<h1>Update Client</h1>

<form th:action="@{/projects/update}" method="post">
    <input type="hidden" name="projectID" th:value="${project.projectID}" /> <!-- This is hidden. -->

    <label for="projectName">Client name:</label>
    <input type="text" id="projectName" name="projectName" th:value="${project.projectName}" required maxlength="25">

    <label for="projectDescription">Description:</label>
    <input type="text" id="projectDescription" name="projectDescription" th:value="${project.projectDescription}" required>

    <label for="isFinished" class="checkbox-container">
        Finished:
        <input type="checkbox" id="isFinished" name="isFinished" th:checked="${project.isFinished()}">
    </label>

    <button type="submit" class="button">Update</button>
</form>
</div>
</div>

<footer>
    <p>EasyScope – Project Calculation Tool – Contact</p>
    <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>


</body>
</html>
