<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

<header>
    <a th:href="@{/projects/subprojects/tasks/{projectID}/{subProjectID}(projectID=${subProject.projectID}, subProjectID=${task.subProjectID})}" class="back-link">Back to Tasks</a>
    <h1>EasyScope - time2track ...</h1>
    <a href="/logout" class="logout-btn">Logout</a>
</header>

<div class="grid-container">
    <div class="grid-item">

<h1>Update Task</h1>

<!-- Form to update task -->
<form th:action="@{/projects/subprojects/tasks/update}" method="post">
    <!-- Skjult felt for taskID -->
    <input type="hidden" name="taskID" th:value="*{task.taskID}" />
    <input type="hidden" name="subProjectID" th:value="*{task.subProjectID}" />
    <input type="hidden" name="projectID" th:value="*{subProject.projectID}" />

    <label for="taskName">Name of the task:</label>
    <input type="text" id="taskName" name="taskName" th:value="*{task.taskName}" required maxlength="25" />

    <label for="taskDescription">Task Description:</label>
    <textarea id="taskDescription" name="taskDescription" th:text="*{task.taskDescription}" required></textarea>

    <label for="teamMember">Assign to Team Member:</label>
    <select id="teamMember" name="memberID">
        <option th:each="member : ${teamMembers}"
                th:value="${member.accountID}"
                th:text="${member.accountName}"
                th:selected="${member.accountID == selectedMemberID}">
        </option>
    </select>

    <label for="startdate" class="deadline-container">Start date:</label>
    <p><input type="date" id="startdate" name="taskStartDate" th:value="*{task.taskStartDate}" required/> <span style="color: #9a9898">Deadline for subproject: <span th:text="${subProject.getSubProjectDeadline()}"></span></span></p>

    <label for="estimatedHours">Estimated Hours:</label>
    <input type="number" id="estimatedHours" name="estimatedHours" th:value="*{task.estimatedHours}" step="1" required />
    <!-- Warning if task exceeds subproject's deadline ... -->
    <div th:if="${errorMessage}" style="color: red;"><p th:text="${errorMessage}"></p></div>

    <div><button type="submit" class="button">Update Task</button></div>
</form>

    </div>
</div>


<footer>
    <p>EasyScope – Project Calculation Tool – Contact</p>
    <p><span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
</footer>

</body>
</html>